{% extends "layout.html" %} 
{% block title %} 
  Home Page 
{% endblock %} 
{% block content %}
  <div class="bg-gray-800 text-white p-5 md:py-8 md:px-20 lg:px-40 xl:px-60">
    <div
      style="font-family: Poppins-Bold"
      class="mb-6 text-4xl font-extrabold py-2 text-center md:text-start"
    >
      {% if search_query %}
        <h2 class="text-2xl capitalize">Search results for "{{ search_query }}"</h2>
      {% elif selected_category %}
        <h2 class="text-2xl">Posts in "{{ selected_category.name }}"</h2>
      {% elif author %}
        <h2 class="text-2xl capitalize">Posts by "{{ author.username }}"</h2>
      {% else %}
        <h2 class="text-2xl">Latest Posts</h2> 
      {% endif %}
    </div>
    
    {% for blog in page_obj %}
      <div
        style="box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.05)"
        class="flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg"
      >
        <img
          class="post-img-url rounded-lg object-cover"
          src="https://placehold.co/400x200/000000/FFFFFF/png"
          alt="image"
        />
        <div>
          <a
            class="text-blue-100 hover:text-blue-300 transition duration-300"
            href="/posts/{{blog.id}}"
            ><span class="text-xl font-extrabold">{{blog.title|slice:80}}</span></a
          ><br />
          <p class="my-3">{{blog.meta|slice:180|safe}}</p>
          <p class="mt-2 mb-4 text-gray-400">
            by <i class="bi bi-person"></i>
            <a 
              href="/posts/author/{{blog.author.id}}"
              class="capitalize group transition-all duration-500 ease-out"
              ><span
                class="capitalize bg-left-bottom bg-gradient-to-r from-cyan-300 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out group-hover:text-cyan-200"
                >{{blog.author}}</span
              ></a
            >
            <i class="bi bi-dot"></i>
            <span><i class="bi bi-calendar4-event"></i> {{blog.created_at}}</span>
            <i class="bi bi-dot"></i><i class="bi bi-tag"></i>
            <a
              href="/posts/category/{{blog.category.id}}"
              class="group transition-all duration-500 ease-out"
              ><span
                class="bg-left-bottom bg-gradient-to-r from-cyan-300 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out group-hover:text-cyan-200"
                >{{blog.category}}</span
              ></a
            >
          </p>
          <div class="flex justify-between">
            <a href="/posts/{{blog.id}}"
              ><button
                class="bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3"
              >
                Read more <i class="bi bi-arrow-right font-extrabold"></i></button
            ></a>
            {% if user.is_authenticated and user.get_username == blog.author.username %}
              <a href="/posts/{{blog.id}}/edit"
              ><button
                class="bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3"
              >
                Edit Post <i class="bi bi-pencil-square font-extrabold"></i></button
            ></a>
          {% endif %}
          </div>
        </div>
      </div>
    {% empty %}
      <p style="font-family: Poppins-Bold;" class='my-12 text-3xl font-extrabold md:text-5xl'>No posts available.</p>
    {% endfor %}
    
    <div class="pagination py-8">
      <span class="page-links">
        {% if page_obj.has_previous %}
        <div class="float-left">
          <a
            class="bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3"
            href="?page={{ page_obj.previous_page_number }}"
            ><i class="bi bi-arrow-left font-extrabold"></i> Previous</a
          >
        </div>
        {% endif %} {% if page_obj.has_next %}
        <div class="float-right">
          <a
            class="bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3"
            href="?page={{ page_obj.next_page_number }}"
            >Next <i class="bi bi-arrow-right font-extrabold"></i
          ></a>
        </div>
        {% endif %}
      </span>
    </div>
  </div>
{% endblock %}